<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds" >
	<property name="LOG_HOME" value="d:\\log\\" />
	
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
		      <Pattern>
		      	%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n
		      </Pattern>
		</layout>
	</appender>
	
	<appender name="SIFT" class="ch.qos.logback.classic.sift.SiftingAppender">
        <discriminator>
            <key>userid</key>
            <defaultValue>unknown</defaultValue>
        </discriminator>
         
        <sift>

		  <!-- A standard RollingFileAppender, the log file is based on 'userid' at runtime  -->
		  <appender name="FILE-${userid}"
			class="ch.qos.logback.core.rolling.RollingFileAppender">
			<file>${LOG_HOME}/${userid}.log</file>

			<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
				<Pattern>
					%d{yyyy-MM-dd HH:mm:ss} %mdc [%thread] %-5level %logger{36} - %msg%n
				</Pattern>
			</encoder>

			<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
				<FileNamePattern>${LOG_HOME}/${userid}.%i.log.zip</FileNamePattern>
				<MinIndex>1</MinIndex>
				<MaxIndex>10</MaxIndex>
			</rollingPolicy>

			<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
				<MaxFileSize>10MB</MaxFileSize>
			</triggeringPolicy>
			
			
		  </appender>

		</sift>
    </appender>

	 
	<root level="debug" >
		<appender-ref ref="SIFT" />
		<appender-ref ref="STDOUT" />
	</root>

</configuration>

